<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"> -->
    <!-- <meta http-equiv="Pragma" content="no-cache"> -->
    <!-- <meta http-equiv="Expires" content="0"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    {%  block css%}
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
    {% block body %}
    body
    {% endblock %}
    {% block bodyscript %}
    {% endblock %}
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/dist/js/jquery.cookie.js"></script>
<script src="/static/dist/js/adminlte.js"></script>
<script src="/static/dist/js/wooght.js"></script>
</body>
</html>
{% block script %}
<script>

</script>
{% endblock %}