{% extends 'base.html' %}
{% block title %} 门店管理 {% endblock %}
{% block body %}
  <div class="wrapper">  
      <!-- 子页面主体内容 -->
        <section style="margin:auto; padding-top:20px;">
            <script src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=45EcEdTSLRwAK9HORoMbqHiR2pX6712T"></script>
            <script src="/static/dist/js/wooght_map.js"></script>
            <script src="/static/dist/js/linkmart_cd_json.js"></script>
            <div id="map_box" style="overflow:hidden; width:100%; height: 900px;"></div>
        </section>
      <!-- 子页面主体内容结束 -->
  </div>

{% endblock %}
{% block script %}
<script type="text/javascript">
    var map_data = []
    var area_list = []
    var store_list = []
    //门店标签
    all_label = {}
    // 根据屏幕宽度调整头部报表展示方式
    window_width = document.body.clientWidth
    window_height = document.body.clientHeight
    map_box = document.getElementById("map_box")
    map_box.style.height = (window_height-170)+'px';

    

    var map = new BMapGL.Map('map_box'); // 创建Map实例
    map.centerAndZoom(new BMapGL.Point(104.1168094341174,30.649771126111595), 13); // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
    map.setMapType(BMAP_EARTH_MAP);//卫星地图模式
    map.setMapType(BMAP_NORMAL_MAP);//标志地图模式
    map.setMapStyleV2({
        styleJson:linkmart_style
    });
    xs_area = 0
    xs_store = 0
    function set_area(){
        for(item of area_list){
            add_fangjia(map,item.point,item.name,'<b style="color:#f00;">'+item.price+'</b>',true)
        }
        xs_area = 1
    }
    function set_store(){
        map_add_stores(map)
        xs_store = 1
    }
    map.addEventListener("zoomend", function(){
        if(map.getZoom()>=16){
            if(xs_store==0){
                map.clearOverlays()
                xs_area = 0
                xs_store==0?set_store():''
            }
        }
        else if(map.getZoom()<16){
            if(xs_area==0){
                map.clearOverlays()
                xs_store = 0
                xs_area==0?set_area():''
            }
        }
    });
    $(function(){
        get_area()  // 获取区域数据
        for(item of map_data[1]){
            area_list.push({name:item.area_name, point:[item.area_x, item.area_y], price:item.odds})
            // add_fangjia(map,[item.area_x, item.area_y],item.area_name,'<b style="color:#f00;">'+item['odds']+'</b>',true)
        }
        get_label() // 获取门店标签
        set_area()  // 地图展示区域数据
    })
</script>
{% endblock%}