{% extends 'base.html' %}
{% block title %} 爬虫列表 {% endblock %}
{% block body %}
  <div class="wrapper">  
    <div class="content-wrapper">
      <!-- 子页面头部 -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                </div>
            </div>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- 子页面头部结束 -->
      
      <!-- 子页面主体内容 -->
      <section class="content">
        <div class="row">

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <!-- Loading (remove the following to stop the loading)-->
              <div class="overlay dark" id="orders_waiting" style="display: none;">
                <i class="fas fa-3x fa-sync-alt"></i>
              </div>
              <!-- end loading -->
              <div class="inner">
                <h3>订单爬虫</h3>
                <p>
                  <div class="input-group date" id="reservationdate" data-target-input="nearest">
                    <input id="custom_date" type="text" class="form-control datetimepicker-input" name="cd_date" data-target="#reservationdate">
                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                </p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" onclick="crawl_orders()" class="small-box-footer">
                运行 <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
              <div class="small-box bg-success">
                <div class="overlay dark" id="classify_waiting" style="display: none;">
                  <i class="fas fa-3x fa-sync-alt"></i>
                </div>
                <div class="inner">
                  <h3>分类爬虫</h3>

                  <p>全部分类</p>
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <a href="#" onclick="crawl_spider('classify')" class="small-box-footer">
                  运行 <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="overlay dark" id="goods_waiting" style="display: none;">
                <i class="fas fa-3x fa-sync-alt"></i>
              </div>
              <div class="inner">
                <h3>SKU爬虫</h3>

                <p>全部更新</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
              <a href="#" onclick="crawl_spider('goods')" class="small-box-footer">
                运行 <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="overlay dark" id="turnover_waiting" style="display: none;">
                <i class="fas fa-3x fa-sync-alt"></i>
              </div>
              <div class="inner">
                <h3>营业额爬虫</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <a href="#" onclick="crawl_spider('turnover')" class="small-box-footer">
                运行 <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

        </div>
      </section>
      <!-- 子页面主体内容结束 -->
    </div>
  </div>

{% endblock %}
{% block script %}
<!-- Select2 -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="/static/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- BS-Stepper -->
<script src="/static/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<script type="text/javascript">
  //Date picker
  $('#reservationdate').datetimepicker({
    format: 'L'
  });
  //spider_result 爬虫运行结果查询集
  spider_result = Object
  // 当前等待图标
  current_waiting = Object
  function spider_status(spider_id){
    data = {'id':spider_id}
    post_data(url='/runspider/orderform/', data=data, function(d){
      if(d['status'] == 'SUCCESS'){
        alert('完成!')
        clearInterval(spider_result)
        current_waiting.hide()
      }
    })
  }
  function crawl_orders(){
    //组装日期
    value_date = $('#custom_date').val().split('/')
    custom_date = value_date[2]+'/'+value_date[0]+'/'+value_date[1]
    data = {'spider_name':'orderform', 'last_goods':0, 'categoryId':custom_date}
    current_waiting = $('#orders_waiting')
    current_waiting.show()
    get_data(url='/runspider/orderform/', data=data, function(data){
      spider_result = setInterval(function(){
        spider_status(data['id'])
      },3000)
    })
  }
  function crawl_spider(spider_name,){
    last_goods = 0
    if(spider_name=='classify'){
      current_waiting = $('#classify_waiting')
    }
    else if(spider_name=='goods'){
      current_waiting = $('#goods_waiting')
      last_goods = 1
    }else if(spider_name=='turnover'){
      current_waiting = $('#turnover_waiting')
    }
    current_waiting.show()
    data = {'spider_name':spider_name, 'last_goods':last_goods, 'categoryId':0}
    get_data(url='/runspider/orderform/', data=data, function(data){
      spider_result = setInterval(function(){
        spider_status(data['id'])
      },3000)
    })
  }

  var classify_data = Object
  var bind = false
  function set_top_classify(classify_data){
    $.each(classify_data['top_classify'],function(key, val){
      select_option = $("<option></option>")
      select_option.val(val)
      select_option.text(key)
      $("#top_classify").append(select_option)
    })
    classify_data = classify_data
    if(!bind){
      bind_change(classify_data)
    }
  }
  // 获取类别
  get_data(url='/goods/classify/', data={}, set_top_classify)
  // 默认上下页
  var next_page = '/goods/classify_goods/'
  var previous = '/goods/classify_goods/'
  function bind_change(classify_data){
    bind = true
    $("#top_classify").bind('change', function(){
      classify_id = this.value
      $("#children_classify").html('')
      if(classify_id in classify_data['children']){
        $.each(classify_data['children'][classify_id], function(name, val){
          select_option = $("<option></option>")
          select_option.val(val)
          select_option.text(name)
          $("#children_classify").append(select_option)
        })
      }else{
        $('#children_classify').append('<option value='+this.value+'>'+$(this).find('option:selected').text()+'</option>')
      }
      next_page = '/goods/classify_goods/'
      previous = '/goods/classify_goods/'
      get_goods()
    })
  }

  $("#children_classify").change(function(){
    next_page = '/goods/classify_goods/'
    previous = '/goods/classify_goods/'
    get_goods()
  })
  function goods_to_list(data){
    if('results' in data){
      next_page = data['next']
      previous = data['previous']
      data = data['results']
    }else{
      next_page = null
      previous = null
    }
    $('#content_list').html('')
    $.each(data, function(key, goods){
      tr = $('<tr></tr>')
      tr.append('<td>'+goods['id']+'</td>')
      tr.append('<td>'+goods['name']+'</td>')
      tr.append('<td>'+goods['bar_code']+'</td>')
      tr.append('<td>'+goods['price']+'</td>')
      tr.append('<td>'+
        '<a onclick="get_function('+goods['id']+',\'\')" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt">标签</i></a> '+
        '<a onclick="get_function('+goods['id']+',\'yan\')" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt">烟标签</i></a>'+
          '</td>')
      $('#content_list').append(tr)
    })
  }
  function get_goods(action=1){
    categoryId = $('#children_classify').val()
    page = action===0 ? previous : next_page
    if(page==null){return}
    data = page.indexOf('categoryId') !== -1 ? {} : {'categoryId':categoryId}

    all_goods = get_data(page, data=data, goods_to_list)
  }
  function refresh_goods(){
    page = '/goods/classify_goods/'
    data = page.indexOf('categoryId') !== -1 ? {} : {'categoryId':categoryId}
    all_goods = get_data(page, data=data, goods_to_list)
  }

  function get_function(good_id,bar_style){
            the_iframe = document.getElementById("toprint_html")
            the_iframe.contentWindow.get_barcode(good_id, bar_style)
        }
  function to_search(){
    s_words = $('#search_input').val()
    if(s_words.length < 2){return}
    goods_data = get_data(url='/goods/search_goods/', data={'search':s_words}, goods_to_list)
  }
</script>
{% endblock%}