{% extends 'base.html' %}
{% block title %} 个人中心 {% endblock %}
{% block body %}
<div class="wrapper">  
  <div class="content-wrapper">
      <!-- 子页面头部 -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">个人中心</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- 子页面头部结束 -->
      
      <!-- 子页面主体内容 -->
      <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-transparent">
                      <h3 class="card-title">用户列表</h3>
                      <div class="card-tools">
                        <a id="login_out_a" class="btn btn-sm btn-secondary float-right">退出登录</a>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0" id="user_list">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>账号</th>
                            <th>门店</th>
                            <th>最近登录</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="register-box">
                    <div class="card card-outline card-primary">
                      <div class="card-header text-center">
                        <a href="#" class="h1">修改密码</a>
                      </div>
                      <div class="card-body">
                        <p class="login-box-msg">----</p>
                  
                        <form method="get">
                          <div class="form-group">
                            <label for="exampleInputRounded0">原密码</label>
                            <input type="password" class="form-control rounded-0" id="exampleInputRounded0" placeholder="old password">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputRounded0">新密码</label>
                            <input type="password" class="form-control rounded-0" id="exampleInputRounded1" placeholder="new password">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputRounded0">确认密码</label>
                            <input type="password" class="form-control rounded-0" id="exampleInputRounded2" placeholder="confirm password">
                          </div>
                          
                          <div class="row">
                            <div class="col-8"></div>
                            <!-- /.col -->
                            <div class="col-4">
                              <button type="button" id="update_password" class="btn btn-primary btn-block">修改</button>
                            </div>
                            <!-- /.col -->
                          </div>
                        </form>
                      </div>
                      <!-- /.form-box -->
                    </div><!-- /.card -->
                  </div>
            </div>
        </div>
      </section>
      <!-- 子页面主体内容结束 -->
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  function update_result(data){
    alert('修改成功,请重新登录')
    login_html()
  }
  function update_password(){
    submit_data = {}
    input_label = $("form").eq(0).find("input")
    submit_data['password'] = input_label.eq(0).val()
    submit_data['new_password'] = input_label.eq(1).val()
    submit_data['confirm_password'] = input_label.eq(2).val()
    put_data(url='/userauth/login/', data=submit_data, update_result)
  }
  $(function(){
    get_users('one')
    data = get_store('select')
    $('#update_password').bind('click', update_password)
    $("#login_out_a").on('click', login_out)
  })
</script>
{% endblock %}
